body {
    background-image: linear-gradient(45deg, rgb(12, 12, 12), rgb(54, 54, 54));
}

a {
    font-size: large;
    background-color: rgb(43, 226, 46);
    text-decoration: none;
    
}

#navLinksDiv {
    background-color: rgba(240, 255, 255, 0.455);
    width: 50%;
    height: 40%;
    position: absolute; 
    margin: auto;
}