<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='homePageStyle.css') }}">
    <meta name="description" content="homePage">
</head>

<body>


        <form id="userInfoForm" action="/home" method="post">
            <div id="topRightLogo" class="logoDiv"></div>

            <div id="nameDiv" class="inputFieldDiv">
                <label for="nameInputField" class="inputFieldLabel">Name:</label>
                <input id="nameInputField" class="inputField" type="text">
            </div>

            <div id="dobDiv" class="inputFieldDiv">
                <label for="dobInputField" class="inputFieldLabel">Date of birth:</label>
                <input id="dobInputField" class="inputField" type="date">
            </div>

            <input id="submitButton" type="submit">

        </form>



</body>



</html>